.demo-table {
    width: 100%;
  
  }
  
  .demo-button-container 
  {
    padding-bottom:1rem;
    margin-left: 10%;
    margin-top: 1%;
  }
  #ButtonDelete
  {
    background: #f44336;
  }
  #ButtonUpdate
  {
    background: #fc8803;
  }
  #ButtonAdd
  {
    background: #03fcdb;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  .mat-elevation-z8-demo-table
  {
    width: 80%;
    Margin-left :10%;
  }
  .mat-elevation-z8-demo-table
  {
    background: #121212;
   
  }
  .mat-header-cell
  {
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-color: rgb(0, 174, 255);
  }
  .mat-cell
  {
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-color: aqua;
  }
  .link {
    width: 300px; /* Ширина слоя */
    height: 200px; /* Высота слоя */
    background: #fc0; /* Цвет фона */
   }
   .link a {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: #666; /* Цвет ссылки */
   }



   .demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    cursor: pointer;
  }
  
  .mat-row:hover  .mat-cell {
   color: currentColor;
  }
 
  

  
  